:root {
  --w-s-tr: rgba(0, 0, 0, 0.3);
  --w-s-th: rgba(42, 27, 204, 0.9);
  --resume-content-border: rgba(0, 0, 255, 0.2);
  --resume-content-bgc: rgba(255, 255, 255, 0.7);
  --resume-img-url: url(../../../public/img/download.gif);
}
#resume {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#resume-title {
  /* background-color: aqua; */
  /* position: fixed; */
  /* position: relative; */
  top: 3.5rem;
}
span,
h6 {
  font-weight: bold;
}
#resume-content {
  background-color: var(--resume-content-bgc);
  padding: 10px 30px;
  margin-top: 1rem;
  overflow: auto;
  height: 27rem;
  border-radius: 10px;
  border: 1px solid var(--resume-content-border);
  box-shadow: 2px 2px 2px 1px var(--resume-content-border);
}

#resume-img {
  /* position: relative; */
}

#resume-img img {
  width: 4rem;
  border-radius: 50%;
}

#resume-link {
  text-align: right;
}

#resume-link h5 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--w-s-tr);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--w-s-th);
}

@media screen and ((max-width: 768px) or (min-height: 1000px)) {
  #resume-content {
    overflow: hidden;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  #resume {
    top: -1rem;
  }
}
