:root {
  --w-s-tr: rgba(0, 0, 0, 0.3);
  --w-s-th: rgba(42, 27, 204, 0.9);
  --portfolio-content-border: rgba(0, 0, 255, 0.1);
  --portfolio-content-bgc: rgba(255, 255, 255, 0.1);
}
#portfolio-title {
  /* background-color: aqua; */
  /* position: fixed; */
}
#portfolio-content {
  background-color: var(--portfolio-content-bgc);
  padding: 0px 0px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* overflow: auto;
  height: 27rem; */
  border-radius: 10px;
  /* border: 1px dotted var(--portfolio-content-border); */
  /* box-shadow: 2px 2px 2px 1px var(--portfolio-content-border); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--w-s-tr);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--w-s-th);
}

@media screen and (max-width: 768px) {
  #portfolio-content {
    justify-content: center;
  }
}